<script>
var helpTexts = [
    [0, 7, "<p>Zoome in die Karte, um mehr Details zu entdecken</p>"],
    [7, 10, "<p>Die Karte zeigt, wie viele Adressen nicht mit OpenStreetMap übereinstimmen.</p><p>gelb = wenige Adressen</p><p>rot = viele Adressen</p>"],
    [10, 14, "<p>Zoome weiter hinein…</p>"],
    [14, 15, "<p>Ab einem bestimmten Zoomlevel werden die einzelnen Adresspunkte angezeigt:</p><p>weiß = Übereinstimmung mit OpenStreetMap</p><p>pink = keine Übereinstimmung, möglicherweise fehlend in OpenStreetMap</p><p>blau = mehr als 75 m entfernt</p>"],
    [15, 17, "<p>Ab einem bestimmten Zoomlevel werden die einzelnen Adresspunkte angezeigt:</p><p>weiß = Übereinstimmung mit OpenStreetMap</p><p>pink = keine Übereinstimmung, möglicherweise fehlend in OpenStreetMap</p><p>blau = mehr als 75 m entfernt</p><p>Zoome weiter hinein…</p>"],
    [17, 20, "<p>Wenn man näher herangeht, werden die Hausnummern eingeblendet.</p><p>weiß = Übereinstimmung mit OpenStreetMap</p><p>pink = keine Übereinstimmung, möglicherweise fehlend in OpenStreetMap</p><p>blau = mehr als 75 m entfernt</p>"],
    [20, 30, "<p>Auf den höchsten Zoomstufen wird die volle Adresse angezeigt.</p><p>Hier kann man also auch den Straßennamen und die Postleitzahl ablesen.</p>"],
]
</script>
