<script>
var helpTexts = [
    [0, 7, "<p>Zoom into the map to discover more details</p>"],
    [7, 10, "<p>The map shows how many addresses did not have a match in OpenStreetMap</p><p>yellow = few addresses</p><p>red = many addresses</p>"],
    [10, 14, "<p>Zoom further in…</p>"],
    [14, 15, "<p>From a certain zoom level, single address points are shown:</p><p>white = match with OpenStreetMap</p><p>pink = no match with OpenStreetMap, possibly missing</p><p>blue = more than 75 m away</p>"],
    [15, 17, "<p>From a certain zoom level, single address points are shown:</p><p>white = match with OpenStreetMap</p><p>pink = no match with OpenStreetMap, possibly missing</p><p>blue = more than 75 m away</p><p>Keep zooming in…</p>"],
    [17, 20, "<p>When you get closer, the house numbers are shown:</p><p>white = match with OpenStreetMap</p><p>pink = no match with OpenStreetMap, possibly missing</p><p>blue = more than 75 m away</p>"],
    [20, 30, "<p>The full address is shown on the highest zoom levels.</p><p>Here you can get the street name and post code from.</p>"],
]
</script>
